/* General Layout & Site Container */

body {
	font-family: georgia, "times new roman", times, serif;
	font-size: 13px;
	font-weight: 400;
	color: #333;
}

.shell {
	border: 1px solid #ccc;
	display: block;
	position: relative;
	width: 85%;
	/* figure out why height not expanding automatically */
	/* height: 100%; */
	margin-left: 7.5%;
	margin-right: 7.5%;
}

/* Site Header */

#masthead {
	position: fixed;
	background: #fff;
	width: 85%;
	min-height: 47px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

/* Site Header - Top Left Buttons */

.header-nav {
	position: absolute;
	left: 0;
}

.header-nav li {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
}

.btn {
	font-family: "Open Sans", arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	background: #fff;
}

.sections-btn {
	border: 1px solid #cecece;
	border-radius: 2px;
	box-shadow: ;
	height: 25px;
}

.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.sprite-icon {
	background: url(http://a1.nyt.com/assets/article/20150318-150424/images/sprite/sprite-no-repeat.svg) no-repeat -86px -182px;
}

/* Site Header - Center Logo */

#main-logo {
	position: absolute;
	display: inline-block;
	left: 42.5%;
	margin-top: 15px;
}

/* Site Header - Top Right Buttons */

.header-nav-right {
	position: absolute;
	right: 0;
}

.header-nav-right li {
	display: inline-block;
	margin-top: 10px;
}

.auth-btn {
	background: #6288A5;
	border: 1px solid #4D7B9F;
	border-radius: 3px;
	color: #fff;
	margin-right: 10px;
	height: 25px;
}

/* Related Articles Menu */

#related-articles {
	position: relative;
	margin-top: 47px;
	width: 100%;
	height: 82px;
	border-bottom: 1px solid #ccc;
}

#related-articles li {
	display: inline-block;
	border-right: 1px solid #e2e2e2;
	vertical-align: middle;
	padding: 10px;
	width: 250px;
	height: 72.5px;
	margin-top: 3px;
}

.article-menu-link {
	text-decoration: none;
	color: #333;
}

.article-menu-link:hover {
	text-decoration: underline;
}

#related-articles li img {
	float: left;
	width: 65px;
	height: 65px;
	margin-right: 7.5px;
	margin-top: -5px;
}

#related-articles li h6 {
	text-transform: uppercase;
	font-size: 9.5px;
	line-height: 1.75em;
}

/* Main Article */

.contents {
	margin-left: auto;
	margin-right: auto;
}

.article-main {
	margin-top: 32.5px;
	margin-bottom: 500px;
	max-width: 1050px;
}

/* Main Article - Header */

.article-header {
	height: 126px;
}

.article-category {
	float: left;
	text-transform: uppercase;
	word-spacing: 0.25em;
	font-weight: 800;
	font-size: 13px;
	font-family: arial,helvetica,sans-serif;
	margin-bottom: 30px;
}

.comments-count {
	float: right;
	text-transform: uppercase;
	font-family: arial,helvetica,sans-serif;
	font-weight: 300;
}

.article-title {
	clear: both;
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	font-style: italic;
}

#author-date {
	border-top: 1px solid #e2e2e2;
	margin-top: 15px;
	text-transform: uppercase;
}

#author-date p {
	display: inline-block;
	font-size: 11px;
}

.author-name {
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 7.5px;
}

/* Main Article - Primary Figure */

#alan-guth {
	margin-bottom: 50px;
}

#alan-guth figcaption {
	width: 800px;
	color: #666;
	font-size: 14px;
	margin-top: 10px;
}

.figure-author {
	font: 11.5px "times new roman", times, serif;
	font-weight: 200;
	color: #666;
	line-height: 30px;
}

/* Main Article - Body */

.article-text p, h3 {
	font-size: 16px;
	line-height: 1.25em;
	margin-left: 150px;
	width: 536px;
	margin-bottom: 16px;
}

.article-text h3 {
	font-weight: 700;
}

/* Main Article - Share Tool */

#sharetool {
	margin-left: 25px;
	float: left;
	line-height: 3.5em;
}

#sharetool li {
	display: block;
	width: 75px;
	text-align: center;
	border-bottom: 1px solid #e2e2e2;
}

#sharetool li:last-child {
	border-bottom: 0;
}

#sharetool li a {
	font-family: arial,helvetica,sans-serif;
	text-decoration: none;
	color: #808080;
}


/* Theory of Inflation Figure */

#theory-of-inflation {
	border-top: 1px solid #e2e2e2;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-top: 15px;
	font-family: georgia, times, serif;
	color: #333;
}

#theory-of-inflation h2 {
	font-size: 17px;
	font-weight: 700;
	line-height: 25px;
}

#theory-of-inflation ul {
	background: url(images/theory-of-inflation.png) no-repeat;
	background-size: 100% 100%;
}

#theory-of-inflation li {
	display: inline-block;
	width: 22.5%;
	margin-right: 2%;
	padding-top: 150px;
}

#theory-of-inflation li:first-child,
#theory-of-inflation li:nth-child(5) {
	margin-left: 1%;
}

#theory-of-inflation h6 {
	float: left;
	font-size: 11px;
	letter-spacing: .05em;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 5px;
	margin-right: 15px;
}

#theory-of-inflation p {
	margin: 0;
	width: auto;
	font-size: 13px;
}

#theory-of-inflation footer {
	border-bottom: 1px solid #e2e2e2;
	line-height: 50px;
	color: #aaa;
	font-size: 11px;
	font-weight: 500;
	font-family: "Open Sans", arial, helvetica, sans-serif;
}

#theory-of-inflation .author-name {
	font-weight: 100;
	margin-right: 0;	
}

/* Basic Figures */

.basic-figures {
	margin: 50px 0 45px 120px;
	width: 57.5%;
}

.caption {
	margin-top: 15px;
	font-size: 13px;
	color: #666;
}

.caption span {
	display: inline-block;
	margin-top: 5px;
	font-size: 11px;
	color: #999;
	font-family: "Open Sans", arial, helvetica, sans-serif;
}

/* Andrei Linde Figure */

#andrei-linde {
}

/* Bicep 2 Telescope Figure */

#bicep-2-telescope {
}

/* Recent Comments */

#comments-container {
	float: right;
	border-top: 1px dotted #999;
	width: 225px;
	font-family: "Open Sans", arial, helvetica, sans-serif
}

#comments-container > a {
	text-decoration: none;
	color: inherit;
}

#comments-container > a:hover {
	cursor: pointer;
}

#comments-header {
	margin: 10px 0 20px 0;
	color: #326891;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}

#recent-comments {
	width: 100%;
}

#recent-comments li {
	position: relative;
	margin-bottom: 15px;
}

#commenter-name {
	display: inline-block;
	font-weight: bold;
	margin-right: 5px;
}

.comment-date {
	display: inline-block;
	font-weight: 100;
	font-size: 11px;
	color: #999;
}

.comment-text {
	font-size: 13px;
	color: #666;
	display: block;
	margin-top: 2px;
	width: 220px
}

#comments-container > #full-comments {
	display: block;
	border-top: 1px dotted #999;
	padding-top: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: #326891;
	font-size: 10px;
}

#full-comments:hover {
	text-decoration: underline;
}

/* Main Article - Footer */

.article-footer {

	font-family: arial,helvetica,sans-serif;
	font-size: 11px;
	margin-left: 150px;
	width: 50%;
}

.article-footer:before {
	display: inline-block;
	content:"";
	width: 60px;
	height: 1px;
	background-color: black;
	margin-bottom: 15px;
}

#hardcopy {
	border-bottom: 1px dotted #ddd;
	margin-bottom: 10px;
}

.article-footer > #hardcopy-ref {
	color: #999;
}

#footer-links {
	display: inline-block;
	color: #999;
	margin-bottom: 40px;
}

#footer-links > li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #999;
}

#footer-links > li > a {
	color: inherit;
	text-decoration: none;
}

#footer-links > li > a:hover {
	text-decoration: underline;
}

#next-article { 
	border: 1px solid green;
	padding-bottom: 50px;
}

#next-article h6, h4 {
	display: inline-block;
}

#next-article h6 {
	text-transform: uppercase;
	font-size: 10px;
	font-family: arial,helvetica,sans-serif;
	font-weight: 400;
	margin-right: 14.75%;
}

#next-article h4 {
	font-size: 16px;
	font-family: georgia,times,serif;
}

#next-article h4 a {
	color: inherit;
	text-decoration: none;
}

#next-article h4 a:hover {
	text-decoration: underline;
}


/* Site Index */

.site-index {
	position: absolute;
	bottom: 36px;
	border-top: 0;
	height: 454px;
	width: 1050px;
	left: 0;
	right: 0;
	margin-top: 20px;
}

.site-index:before {
	content: '';
	display: block;
	border-top: 2px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	height: 5px;
	margin-bottom: 9px;
}

/* Site Index - Header */

#index-logo {
	position: absolute;
	left: 0;
}

#to-home {
	position: absolute;
	right: 0;
	margin-top: 5px;
	color: #6288a5;

}

#to-home a {
	font-size: 11px;
	text-decoration: none;
}

#to-home:hover {
	text-decoration: underline;
}

#to-home a:visited {
	color: #6288a5;
}

/* Site Index - Section Listings */

#section-listings {
	border-right: 1px solid #e2e2e2;
	display: inline-block;
	margin-top: 56px;
	width: 82.5%;
}

#section-listings > ul {
	float: left;
	margin-right: 6.25%;
	display: block;
	font-family: arial,helvetica,sans-serif;
}

#section-listings > ul > li {
	line-height: 1.75em;
}

.section-listings-links {
	text-decoration: none;
	color: #000;
}

.section-listings-links:visited {
	color: #000;
}

.section-listings-links:hover {
	text-decoration: underline;
}

.list-title {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.05em;
}

/* Site Index - Subscribe Listings */

#subscribe-listings {
	display: inline-block;
	vertical-align: top;
	margin-top: 60px;
	width: 17%;
}

#primary-menu {
	font-size: 15px;
	font-family: arial,helvetica,sans-serif;
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
}

#primary-menu > li {
	margin-bottom: 7.5px;
}

.subscribe-icon {
	display: inline-block;
	width: 25px;
}

.subscribe-links-primary {
	text-decoration: none;
	color: #000;
}

.subscribe-links-primary:hover {
	text-decoration: underline;
}

.subscribe-links-primary:visited {
	color: #000;
}

.secondary-menu {
	padding: 15px 0;
	font-family: arial,helvetica,sans-serif;
	font-size: 11px;
	border-bottom: 1px solid #ccc;
	margin-left: 10px;
	line-height: 1.5em;
}

.secondary-menu:last-child {
	border-bottom: 0;
}

/* Footer */
.site-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
  width: 1050px;
	height: 36px;
	border-top: 1px solid #e2e2e2;
	color: #999;
	font-size: 11px;
	font-family: arial,helvetica,sans-serif;
}

.footer-nav ul > li {
	display: inline-block;
	border-right: 1px solid #e2e2e2;
	margin-top: 13px;
	padding-right: 5px;
}

#footer-nav ul > li:last-child {
	border-right: 0;
}

.primary-nav {
	float: left;
}

.secondary-nav {
	float: right;
}